In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("insurance.csv")

In [3]:
df.head(10)

   age  sex     bmi  children  smoker  region      charges  insuranceclaim
0   19    0  27.900         0       1       3  16884.92400               1
1   18    1  33.770         1       0       2   1725.55230               1
2   28    1  33.000         3       0       2   4449.46200               0
3   33    1  22.705         0       0       1  21984.47061               0
4   32    1  28.880         0       0       1   3866.85520               1
5   31    0  25.740         0       0       2   3756.62160               0
6   46    0  33.440         1       0       2   8240.58960               1
7   37    0  27.740         3       0       1   7281.50560               0
8   37    1  29.830         2       0       0   6406.41070               0
9   60    0  25.840         0       0       1  28923.13692               0

In [4]:
X = df.iloc[:,:-1]
y = df.iloc[:,-1]

In [5]:
print(X)

      age  sex     bmi  children  smoker  region      charges
0      19    0  27.900         0       1       3  16884.92400
1      18    1  33.770         1       0       2   1725.55230
2      28    1  33.000         3       0       2   4449.46200
3      33    1  22.705         0       0       1  21984.47061
4      32    1  28.880         0       0       1   3866.85520
...   ...  ...     ...       ...     ...     ...          ...
1333   50    1  30.970         3       0       1  10600.54830
1334   18    0  31.920         0       0       0   2205.98080
1335   18    0  36.850         0       0       2   1629.83350
1336   21    0  25.800         0       0       3   2007.94500
1337   61    0  29.070         0       1       1  29141.36030

[1338 rows x 7 columns]

In [6]:
print(y)

0       1
1       1
2       0
3       0
4       1
       ..
1333    0
1334    1
1335    1
1336    0
1337    1
Name: insuranceclaim, Length: 1338, dtype: int64

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.3,random_state = 1)

In [9]:
from sklearn.linear_model import LogisticRegression

In [10]:
lr = LogisticRegression()

In [11]:
lr.fit(X_train,y_train)

LogisticRegression()

In [12]:
# accuracy

lr.score(X_test,y_test)

0.8059701492537313

In [13]:
y_pred = lr.predict(X_test)

In [14]:
# evaluation

In [15]:
from sklearn.metrics import accuracy_score,precision_score,recall_score,f1_score

In [16]:
accuracy_score(y_test,y_pred)

0.8059701492537313

In [17]:
precision_score(y_test,y_pred)

0.8249027237354085

In [18]:
recall_score(y_test,y_pred)

0.8653061224489796

In [19]:
f1_score(y_test,y_pred)

0.8446215139442231

In [20]:
from sklearn.metrics import classification_report, confusion_matrix

In [21]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.77      0.71      0.74       157
           1       0.82      0.87      0.84       245

    accuracy                           0.81       402
   macro avg       0.80      0.79      0.79       402
weighted avg       0.80      0.81      0.80       402

In [24]:
tp , fp, fn, tn = confusion_matrix(y_test, y_pred).ravel() # ravel() -- > converts 1 dimensional array to 2 dimensional array

In [25]:
print(tp, fp)
print(fn, tn)

112 45
33 212

In [26]:
confusion_matrix(y_test, y_pred).ravel()

array([112,  45,  33, 212], dtype=int64)